body {
  background-color: powderblue;
  color: blue;
  font-family: Arial;
  margin: 0;
}

header {
  text-align: center;
  border: 2px blue solid;
  background-color: blue;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.imagen {
  text-align: center;
}

.parrafo {
  font-size: 18px;
}
.mitabla {
  margin: 0 auto;
}
.caja {
  display: flex;
  padding-left: 3%;
  padding-right: 3%;
}

.container {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.pie {
  text-align: center;
  border: 2px blue solid;
  background-color: blue;
  color: white;
}

.parrafo {
  padding-right: 4%;
}

form {
  border: 2px blue solid;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 25px;
  padding-bottom: 3%;
  background-color: wheat;
}
